name: Build and Push Docker Image

on:
  schedule:
    # Run at 9:00 AM Central Time (US/Chicago) every Friday
    - cron: '0 14 * * 5'

  # Allow manual triggering
  workflow_dispatch:

permissions:
    contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
            persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f #v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          username: esacteksab
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Get current date in YYYY-MM-DD format
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 #v6.19.2
        with:
          context: .
          push: true
          tags: |
            esacteksab/go:latest
            esacteksab/go:${{ vars.GO_VERSION }}
            esacteksab/go:${{ vars.GO_VERSION }}-${{ steps.date.outputs.date }}
          build-args: |
            GO_VERSION=${{ vars.GO_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
